<br><br>
<div class="container">
  <div class='col-md-6'>
    <div class='well'>

      <div class='row'>
        <div class='col-md-4 text-right'>
          <h3>New User</h3>
        </div>
      </div>
      <br>

      <%= form_for @user do |f| %>

        <div class='row'>
          <div class='col-md-4 text-right'>
            <%= f.label :email %>
          </div>
          <div class='col-md-7'>
            <%= f.email_field :email, { autofocus: "true" } %>
          </div>
        </div>
        <br>

        <div class='row'>
          <div class='col-md-4 text-right'>
            <%= f.label :password %>
          </div>
          <div class='col-md-7'>
            <%= f.password_field :password %>
          </div>
        </div>
        <br>

        <div class='row'>
          <div class='col-md-4 text-right'>
            <%= f.label :password_confirmation %>
          </div>
          <div class='col-md-7'>
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <br><br>

        <div class='row'>
          <div class='col-md-11 text-right'>
            <%= f.submit("Sign up", class: "btn btn-lg btn-primary") %>
            <br><br>
            <p>Already registered?&nbsp&nbsp<span><%= link_to('Login here', login_path) %></span></p>
          </div>
        </div>
        <br>

      <% end %>

    </div>    <!-- well -->
  </div>
</div>

